pkgbase = zfs-linux-lts-git
	pkgver = 2022.06.28.r7937.g325096545a_5.15.50.1
	pkgrel = 1
	url = https://zfsonlinux.org/
	arch = x86_64
	license = CDDL
	makedepends = linux-lts-headers=5.15.50-1
	makedepends = git
	depends = kmod
	depends = zfs-utils-git=2022.06.28.r7937.g325096545a
	depends = linux-lts=5.15.50-1
	source = git+https://github.com/zfsonlinux/zfs.git#commit=325096545a47aa01cd5966301ba1f7a6e5eff349
	sha256sums = SKIP

pkgname = zfs-linux-lts-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	install = zfs.install
	groups = archzfs-linux-lts-git
	provides = zfs
	provides = spl
	conflicts = zfs-dkms
	conflicts = zfs-dkms-git
	conflicts = zfs-dkms-rc
	conflicts = spl-dkms
	conflicts = spl-dkms-git
	conflicts = zfs-linux-lts
	conflicts = spl-linux-lts-git
	conflicts = spl-linux-lts
	replaces = spl-linux-lts-git

pkgname = zfs-linux-lts-git-headers
	pkgdesc = Kernel headers for the Zettabyte File System.
	provides = zfs-headers
	provides = spl-headers
	conflicts = zfs-headers
	conflicts = zfs-dkms
	conflicts = zfs-dkms-git
	conflicts = zfs-dkms-rc
	conflicts = spl-dkms
	conflicts = spl-dkms-git
	conflicts = spl-headers
