pkgbase = zfs-linux-lts-git
	pkgver = 2021.04.22.r6770.gf9bece92e_5.10.32.1
	pkgrel = 1
	url = https://zfsonlinux.org/
	arch = x86_64
	license = CDDL
	makedepends = linux-lts-headers=5.10.32-1
	makedepends = git
	depends = kmod
	depends = zfs-utils-git=2021.04.22.r6770.gf9bece92e
	depends = linux-lts=5.10.32-1
	source = git+https://github.com/zfsonlinux/zfs.git#commit=f9bece92e24bbb679232085e41c4ddf5b74ccaa4
	sha256sums = SKIP

pkgname = zfs-linux-lts-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	install = zfs.install
	groups = archzfs-linux-lts-git
	provides = zfs
	provides = spl
	conflicts = zfs-dkms
	conflicts = zfs-dkms-git
	conflicts = zfs-dkms-rc
	conflicts = spl-dkms
	conflicts = spl-dkms-git
	conflicts = zfs-linux-lts
	conflicts = spl-linux-lts-git
	conflicts = spl-linux-lts
	replaces = spl-linux-lts-git

pkgname = zfs-linux-lts-git-headers
	pkgdesc = Kernel headers for the Zettabyte File System.
	provides = zfs-headers
	provides = spl-headers
	conflicts = zfs-headers
	conflicts = zfs-dkms
	conflicts = zfs-dkms-git
	conflicts = zfs-dkms-rc
	conflicts = spl-dkms
	conflicts = spl-dkms-git
	conflicts = spl-headers

